/* 
Additional CSS code not available within Shiny
*/


.WebContainer{
    width:100%;
    /*min-width:1000px;*/
    height:auto;
}


/*
Set Zoom for all browsers
such that HD users can see
*/

.body {
  -moz-transform: scale(0.8, 0.8); 
  zoom: 0.8;
  zoom: 80%;
}



#id_placeholder {
  color: #6c757d;
}

.dark-mode #id_placeholder {
  color: white;
}




.shiny-output-error {
  /* color: white; */
  right: 0px;
  width: auto;
  border: 1px solid #dc3545;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}


.dropdown-header {
    font-size: 18px;
}




/* 
VIVE Icons 

Change the color of the VIVE icon
according to chosen theme
*/

.dark-mode #vive_id {
  filter: invert(0%);
}

#vive_id {
  filter: invert(50%);
}



/* 
Set table properties
*/

th {
  background-color: #5E81AC;
  color: white;
  text-align: center;
} 

tr {
  text-align: center;
}

