/* This is for additional theming */

.navbar {
    background-color:  #343a40;
}

.main-footer {
  background-color:  #343a40;
}



 .body {
             -moz-transform: scale(0.8, 0.8); /* Moz-browsers */
             zoom: 0.8; /* Other non-webkit browsers */
             zoom: 80%; /* Webkit browsers */
             }